<% set_meta_tags(project_name: 'Building Tabs with Style', title: 'Building Tabs with Style', description: 'How to combine Bootstrap function with style')  %>
<%= partial 'partials/back_link' %>
<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12 small-container">
      <h1 class='small-h1-header'>Building Tabs with Style</h1>
      <p class='m-0'><em>How to combine <%= link_to "Bootstrap 5.2", 'https://getbootstrap.com/docs/5.2/getting-started/introduction/', class: 'link-gray', target: '_blank' %> function with style</em></p>
      <div class="tutorial-section">
        <p>There's no reason to reinvent the wheel here. The tabs that Bootstrap so nicely provide for us give us all of the funtionality that we need. Just give them a nice click-around.
        </p>
      </div>
      <div class="tutorial-section">
        <h3 class='small-h3-header'>The Boostrap Way</h3>
        <div class="tutorial-container">
          <div class="tutorial-section">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-content" type="button" role="tab" aria-controls="bookings-tab" aria-selected="true">Bookings</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-content" type="button" role="tab" aria-controls="requests-tab" aria-selected="false">Requests</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations-tab-content" type="button" role="tab" aria-controls="conversations-tab" aria-selected="false">Conversations</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="bookings-tab-content" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">Bookings info...</div>
              <div class="tab-pane fade" id="requests-tab-content" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">Requests...</div>
              <div class="tab-pane fade" id="conversations-tab-content" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">Conversations...</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tutorial-section">
        <h3 class='small-h3-header'>The Problem</h3>
        <p>They look terrible.</p>
      </div>
      <div class="tutorial-section">
        <h3 class='small-h3-header'>Le Wagon Style</h3>
        <p>Thankfully the kind developers at Le Wagon have provided us with some nice tabs with style. (But they don't go anywhere.)
        </p>
      </div>
      <div class="tutorial-container">
        <ul class="list-inline tabs-underlined">
          <li>
            <a href="#" class="tab-underlined active">Bookings</a>
          </li>
          <li>
            <a href="#" class="tab-underlined">Requests</a>
          </li>
          <li>
            <a href="#" class="tab-underlined">Conversations</a>
          </li>
        </ul>
      </div>
      <div class="tutorial-section">
        <h3 class='small-h3-header'>Boostrap + Style</h3>
        <p>Combine the JavaScript functionality behind the Bootstrap ones with the Le Wagon style tabs with only minor tweaks.</p>
      </div>
      <div class="tutorial-container">
        <ul class="nav tabs-underlined" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <span class="nav-link tab-underlined active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" role="tab" aria-controls="bookings-tab-pane" aria-selected="true">Bookings</span>
          </li>
          <li class="nav-item" role="presentation">
            <span class="nav-link tab-underlined" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-pane" role="tab" aria-controls="requests-tab-pane" aria-selected="false">Requests</span>
          </li>
          <li class="nav-item" role="presentation">
            <span class="nav-link tab-underlined" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations-tab-pane" role="tab" aria-controls="conversations-tab-pane" aria-selected="false">Conversations</span>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade py-3 show active" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">This is the content for the Bookings tab. Notice in the tab HTML there is a href="#bookings". This is pointing to the id of this div..</div>
          <div class="tab-pane fade py-3" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">This is the content for the Requests tab. Notice in the tab HTML there is a href="#requests". This is pointing to the id of this div..</div>
          <div class="tab-pane fade py-3" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">This is the content for the Conversations tab. Notice in the tab HTML there is a href="#converstations". This is pointing to the id of this div.</div>
        </div>
      </div>
      <div class="tutorial-section">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h3 class='small-h3-header'>The SCSS</h3>
          <button type='button' class='btn btn-dark btn-copy' data-container="body" data-toggle="popover" data-placement="top" data-content="Copied!">Copy</button>
        </div>
        <div class="code-wrapper">
          <% code("scss") do %>
.tabs-underlined {
  display: flex;
  align-items: center;
}
.tabs-underlined {
  .tab-underlined {
    color: black;
    padding: 8px;
    margin: 8px 16px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    display: block;
  }
  .tab-underlined:hover {
    opacity: 0.5;
  }
  .tab-underlined.active {
    opacity: 1;
    border-bottom: 3px solid #555555;
  }
}
          <% end %>
        </div>
      </div>
      <div class="tutorial-section">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h3 class='small-h3-header'>The HTML</h3>
          <button type='button' class='btn btn-dark btn-copy' data-container="body" data-toggle="popover" data-placement="top" data-content="Copied!">Copy</button>
        </div>
        <div class="code-wrapper">
          <% code("html") do %>
<ul class="nav tabs-underlined" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" role="tab" aria-controls="bookings-tab-pane" aria-selected="true">Bookings</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-pane" role="tab" aria-controls="requests-tab-pane" aria-selected="false">Requests</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations-tab-pane" role="tab" aria-controls="conversations-tab-pane" aria-selected="false">Conversations</span>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade py-3 show active" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">
    This is the content for the Bookings tab. Notice in the tab HTML there is a href="#bookings". This is pointing to the id of this div..
  </div>
  <div class="tab-pane fade py-3" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
    This is the content for the Requests tab. Notice in the tab HTML there is a href="#requests". This is pointing to the id of this div..
  </div>
  <div class="tab-pane fade py-3" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
    This is the content for the Conversations tab. Notice in the tab HTML there is a href="#converstations". This is pointing to the id of this div.
  </div>
</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
