<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="about">
        <h2>Hello 👋</h2>
        <p>I'm a web developer and director at Le Wagon Japan. I'm based out of Tokyo, but originally from St. Louis, MO, USA</p>
        <p>If you are interested in my story, you can check this out:</p>
        <% link_to "https://www.lewagon.com/blog/meet-our-team-douglas", target: '_blank' do %>
          <%= image_tag "blog.png", alt: "alttext", style: 'width:100%' %>
        <% end %>
        <template id="infosTemplate">
          <div class="d-flex w-100 gap-3 flex-wrap flex-md-nowrap">
            <div class="info-box border p-3 flex-grow-1 w-100 shadow-sm rounded-1">
              <small class="text-nowrap fw-light">Students Taught</small>
              <h5 class="fw-bolder pt-3" id='info-students'>1477</h5>
            </div>
            <div class="info-box border p-3 flex-grow-1 w-100 shadow-sm rounded-1">
              <small class="text-nowrap fw-light">Projects Built</small>
              <h5 class="fw-bolder pt-3" id='info-projects'>699</h5>
            </div>
            <div class="info-box border p-3 flex-grow-1 w-100 shadow-sm rounded-1">
              <small class="text-nowrap fw-light">Batches Ran</small>
              <h5 class="fw-bolder pt-3" id='info-batches'>477</h5>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>
