<div class="nav-group">
  <i class="fas fa-chevron-left font-bold"></i>
  <%= image_tag "face.jpg" , alt: "doug_photo" , class: 'avatar-small-square ms-3' %>
    <%= link_to '' , '/#tutorials' , class: 'nav-group-link' %>
</div>
