<div class="wrapper-white">
  <div class="col-12">
    <div class="p-3">
      <h2>Reach Out</h2>
      <form action="https://getform.io/f/fffe5a8e-b84b-4472-9e1e-b77ff2dcba8f" method="POST">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Name" required=true>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="Email" required=true>
        </div>
        <div class="form-group">
          <textarea type="text" name="message" class="form-control" placeholder="Message..." required=true></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100 bg-gray">Send</button>
      </form>
    </div>
  </div>
</div>
