<div class="wrapper-white">
  <div class="row">
    <div class="col-12">
      <div class="main-container" id="tutorials" style="margin-bottom: 0;background-color: transparent;padding-bottom: 0">
        <h2>Tutorials</h2>
        <p>Collection of features I found myself coming back to.</p>
        <ul class='pl-3'>
          <% data.tutorials.each do |tutorial| %>
            <li class='d-flex ul-title'>
              - <%= link_to tutorial.title, "/tutorials/#{tutorial.filename}" %>
              <div class="d-flex ml-2">
                <% tutorial.tags.each do |tag| %>
                  <span class='tutorial-tag'><%= tag %></span>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
