.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined {
  .tab-underlined {
    color: black;
    padding: 8px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    display: block;
  }
  .tab-underlined:hover {
    opacity: 0.5;
  }
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

@media (min-width: 100px) and (max-width: 575px) {
  .tab-underlined {
    font-size: 10px;
    padding: 6px;
  }
}

@media (min-width: 576px) {
  .tab-underlined {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .tab-underlined {
    margin: 4px;
    font-size: 14px;
  }
}
