<div class="container banner">
  <div class="row justify-content-center h-100">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
      <h1 class="title-main">Douglas</h1>
      <%= image_tag "face.jpg", alt: "doug_photo", class: 'avatar-large-square my-4' %>
      <div class="navigation-buttons d-flex justify-content-center">
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-info-circle"></i>
          <span>About</span>
        </div>
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-laptop-code"></i>
          <span>Projects</span>
        </div>
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-users"></i>
          <span>Batches</span>
        </div>
        <div class="navigation-button d-flex flex-column justify-content-center align-items-center">
          <i class="fas fa-play-circle"></i>
          <span>Video</span>
        </div>
      </div>
    </div>
  </div>
</div>